* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1, h2 {
    font-family: "Volkhov", "Georgia", serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo-text {
    color: #222;
    font-family: "Volkhov", "Georgia", serif;
    font-size: 24px;
    margin-right: 10px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.15px;
}

.site-logo-img {
    width: 19px;
    height: 19px;
}

.site-link {
    display: flex;
    align-items: center;
}

.site-link-login {
    color: #fd8d3a;
    font-weight: 600;
    line-height: normal;
    margin-right: 56px;
}

.site-link-signup {
    color: #fff;
    font-weight: 600;
    padding: 13px 50px;
    background-color: #fa7436;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(250, 116, 54, 0.24);
}

.container {
    width: 100%;
    max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-title, .main-title-wrapper {
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
}

.main-title {
    color: #222;
    margin: 0;
    margin-bottom: 24px;
}

.main-title-wrapper {
    color: #fa7436;
    font-family: "Volkhov", "Georgia", serif;
}

.main-subtitle {
    width: 482px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    color: #666;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 64px;
}

.main-title, .main-subtitle {
    text-align: center;
}


/* SITE-HEADER */
.header {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #fefcfb;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav {
    line-height: 1.5;
}

.sitenav-link {
    color: #222;
    display: block;
}

.sitenav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitenav-item:not(:last-child) {
    margin-right: 32px;
}


/* SITE-HERO */
.hero {
    padding-top: 55px;
    padding-bottom: 155px;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    /* background-image: url(/img/hero-background-shape.svg);
    background-repeat: no-repeat;
    background-size: 785px 191px;
    background-position-x: 541px; */
}

.hero-top {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.hero-bottom {
    margin-left: auto;
    margin-right: auto;
}

.hero-left-content {
    width: 521px;
    margin-right: 150px;
}

.hero-title {
    color: #222;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    margin: 0;
    margin-bottom: 32px;
}

.hero-title-wrapper {
    color: #fa7436;
}

.hero-subtitle {
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    margin-bottom: 64px;
}

.hero-button {
    color: #fa7436;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding: 14px 28px;
    border-radius: 5px;
    border: 1px solid #fa7436;
    background-color: #fff;
    text-transform: capitalize;
    display: inline-block;
}

.hero-img {
    width: 450px;
    height: 530px;
}

.hero-img-background {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 500px;
    height: 500px;
    background-color: #fa7436;
    border-radius: 50%;
}

.hero-input {
    display: flex;
    align-items: center;
    padding: 36px 24px;
    border-radius: 10px;
    background-color: #fff;
    transition: box-shadow 0.5s ease;
}

.hero-input:hover {
    box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
}

.hero-input-list {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.hero-input-item {
    margin-right: 100px;
}

.hero-input-item:last-child {
    margin-right: 0;
}

.hero-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hero-input-title {
    color: #222;
    font-weight: 500;
    line-height: normal;
    margin-right: 5px;
}

.hero-input-img {
    width: 10px;
    height: 5px;
}

.hero-input-subtitle  {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.hero-input-button {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding: 14px 28px;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: #fa7436;
    box-shadow: 0px 8px 16px 0px rgba(250, 116, 54, 0.16);
    display: inline-block;
}


/* SITE-THINKS */
.things {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f7f8fc;
}

.things-container {
    background-image: url(/img/things-background-shape.svg);
    background-repeat: no-repeat;
    background-size: 180px 130px;
    background-position-x: 912px;
}

.things-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.things-card-item {
    width: 370px;
    border-radius: 8px;
    background-color: #fff;
    padding: 40px;
    margin-right: 30px;
    transition: box-shadow 0.5s ease;
}

.things-card-item:hover {
    box-shadow: 14px 24px 72px 0px rgba(102, 102, 102, 0.10);
}

.things-card-item:last-child {
    margin-right: 0;
}

.things-card-item-title-capitalize {
    text-transform: capitalize;
}

.things-card-item img {
    margin: 0;
    margin-bottom: 48px;
}

.things-btn-one {
    width: 48px;
    height: 48px;
}

.things-btn-two {
    width: 46.5px;
    height: 48px;
}

.things-btn-three {
    width: 41.5px;
    height: 48px;
}

.things-card-item-title {
    color: #222;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin: 0;
    margin-bottom: 16px;
}

.things-card-item-subtitle {
    width: 290px;
    margin: 0;
    color: #666;
    line-height: 26px;
}


/* SITE-EXCLUSIVE */
.exclusive {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fefcfb;
}

.exclusive-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.exclusive-subtitle {
    width: 433px;
}

.exclusive-card-item {
    margin-right: 28px;
    border: 2px solid rgba(102, 102, 102, 0.08);
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.5s ease;
}

.exclusive-card-item:hover {
    box-shadow: 0px 16px 80px 0px rgba(254, 147, 94, 0.20);
}

.exclusive-card-item:last-child {
    margin-right: 0;
}

.exclusive-card-item-img {
    width: 270px;
    height: 290px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.exclusive-card-item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.exclusive-card-item-svg-top {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin-right: 8px;
}

.exclusive-card-item-title-top {
    color: #222;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    margin-right: 104px;
}

.exclusive-card-item-number-top {
    color: #666;
    line-height: 24px;
    margin: 0;
}

.exclusive-card-item-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.exclusive-card-item-svg-bottom {
    width: 13px;
    height: 16px;
    margin-right: 8px;
}

.exclusive-card-item-subtitle-bottom {
    color: #666;
    line-height: 20px;
    margin: 0;
    margin-right: 62px;
}

.exclusive-card-item-del-number-bottom {
    color: #999;
    font-weight: 500;
    line-height: 24px;
    margin-right: 21px;
}

.exclusive-card-item-number-bottom {
    color: #fa7436;
    font-weight: 600;
    line-height: 24px;
}

.exclusive-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-button {
    width: 104px;
    height: 40px;
}


/* SITE-VACATION */
.vacation {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fefcfb;
}

.vacation-container {
    background-image: url(/img/vacation-background-shape.svg);
    background-repeat: no-repeat;
    background-size: 105.5px 81px;
    background-position-x: 875px;
}

.vacation-subtitle {
    width: 521px;
    margin-bottom: 0;
}

.vacation-button {
    width: 104px;
    height: 40px;
    margin-bottom: 24px;
}

.vacation-button-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

.vacation-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vacation-item {
    border-radius: 16px;
    margin-right: 31px;
    background-color: #fff;
    border: 2px solid rgba(102, 102, 102, 0.08);
    transition: box-shadow 0.5s ease;
}

.vacation-item:hover {
    box-shadow: 0px 16px 80px 0px rgba(254, 147, 94, 0.20);
}

.vacation-item:last-child {
    margin-right: 0;
}

.vacation-item-img {
    width: 369px;
    height: 327px;
    margin-bottom: 24px;
    border-radius: 16px;
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.0);
}

.vacation-item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.vacation-item-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.vacation-item-title {
    color: #222;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    margin-right: 74px;
}

.vacation-item-number {
    color: #fa7436;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.vacation-navigation-icon {
    width: 18.7px;
    height: 16px;
    margin-right: 14.5px;
}

.vacation-item-subtitle {
    color: #666;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    margin: 0;
    margin-right: 124.5px;
}

.vacation-star-icon {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin-right: 8px;
}

.vacation-item-bottom-number {
    color: #666;
    line-height: 24px;
    margin: 0;
}


/* SITE-PEOPLE */
.people {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f7f8fc;
}

.people-container {
    display: flex;
    justify-content: center;
    /* background-image: url(/img/people-background-shape.svg);
    background-repeat: no-repeat;
    background-size: 168.5px 188px;
    background-position-x: 394px;
    background-position-y: 56px; */
}

.people-title {
    text-align: left;
}

.people-subtitle {
    width: 482px;
    margin: 0;
    margin-bottom: 32px;
    text-align: left;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.people-button {
    width: 104px;
    height: 40px;
}

.people-left-content {
    width: 394px;
    margin-right: 157px;
}

.people-right-content {
    width: 504px;
    padding: 28px 0px 34px 34px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

/* .people-right-content-img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
} */

.people-right-content-text {
    width: 402px;
    color: #444;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    margin-bottom: 40px;
}

.people-right-content-title {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.people-right-content-subtitle {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}


/* SITE-BLOG */
.blog {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fefcfb;
}

.blog-title {
    margin-bottom: 64px;
}

.blog-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.blog-item {
    width: 270px;
    margin-right: 30px;
}

.blog-item:last-child {
    margin-right: 0;
}

.blog-item-img {
    width: 270px;
    height: 270px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.blog-item-title {
    color: #222;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    margin-bottom: 16px;
}

.blog-item-subtitle {
    color: #999;
    line-height: 26px;
    margin: 0;
}

.blog-button {
    width: 54px;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* SITE-FOOTER */
.footer {
    background-color: #f7f8fc;
    padding-bottom: 48px;
}

.footer-top {
    width: 1170px;
    border-radius: 16px;
    background-color: #fa7436;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.footer-top-text {
    width: 708px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    margin-bottom: 64px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.footer-top-input {
    width: 674px;
    padding: 9px 9px 9px 22px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-input-button {
    width: 18.7px;
    height: 16px;
    margin-right: 8px;
}

.footer-input-text {
    color: #999;
    margin-right: 364px;
}

.footer-input-link {
    color: #fff;
    padding: 13px 26px;
    border-radius: 8px;
    background-color: #fa7436;
    display: inline-block;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.footer-bottom-left-content {
    width: 254px;
    color: #666;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
}

.footer-bottom-left-box {
    width: 254px;
    margin-right: 317px;
}

.footer-social {
    display: block;
}

.footer-social img {
    width: 40px;
    height: 40px;
}

.footer-social-wrapper {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-bottom: 24px;
    text-align: left;
    display: block;
}

.footer-link {
    color: #666;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
    display: block;
    text-transform: capitalize;
}

.footer-link-heading {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 32px;
    text-transform: capitalize;
}

.footer-list {
    width: 140px;
}

.footer-bottom-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-line {
    border: 0;
    margin: 0;
    height: 2px;
    margin-bottom: 40px;
    background: rgba(153, 153, 153, 0.56);
}

.footer-bottom-text p {
    color: #666;
    opacity: 0.8;
    margin: 0;
}