* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Volkhov", "Georgia", serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo-text {
    color: #222;
    font-family: "Volkhov", "Georgia", serif;
    font-size: 1.5rem;
    margin-right: 0.62rem;
    font-weight: 700;
}

.site-logo-img {
    width: 19px;
    height: 19px;
}

.site-link {
    display: flex;
    align-items: center;
}

.site-link-login {
    color: #fd8d3a;
    font-weight: 600;
    line-height: normal;
    margin-right: 3.5rem;
}

.site-link-signup {
    color: #fff;
    font-weight: 600;
    padding: 0.81rem 3.12rem;
    background-color: #fa7436;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(250, 116, 54, 0.24);
}

.container {
    width: 100%;
    max-width: 1210px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.main-title, .main-title-wrapper {
    font-size: 3rem;
    font-weight: 700;
    line-height: 54px;
}

.main-title {
    color: #222;
    margin: 0;
    margin-bottom: 1.5rem;
}

.main-title-wrapper {
    color: #fa7436;
    font-family: "Volkhov", "Georgia", serif;
}

.main-subtitle {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    color: #666;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 4rem;
}

.main-title, .main-subtitle {
    text-align: center;
}


/* SITE-HEADER */
.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #fefcfb;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav {
    line-height: 1.5;
}

.sitenav-link {
    color: #222;
    display: block;
}

.sitenav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitenav-item:not(:last-child) {
    margin-right: 2rem;
}


/* SITE-HERO */

.hero {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6.2rem;
    padding-bottom: 7.5rem;
}

.hero-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.75rem;
}

.hero-bottom {
    margin-left: auto;
    margin-right: auto;
}

.hero-left-content {
    width: 44.5%;
}

.hero-title {
    color: #222;
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
    margin: 0;
    margin-bottom: 2rem;
}

.hero-title-wrapper {
    color: #fa7436;
}

.hero-subtitle {
    color: #666;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    margin-bottom: 4rem;
}

.hero-button {
    color: #fa7436;
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 32px;
    padding: 0.87rem 1.75rem;
    border-radius: 5px;
    border: 1px solid #fa7436;
    background-color: #fff;
    text-transform: capitalize;
    display: inline-block;
}

.hero-img {
    width: 500px;
    height: 500px;
}

.hero-input {
    display: flex;
    align-items: center;
    padding: 2.25rem 1.5rem;
    border-radius: 10px;
    background-color: #fff;
    transition: box-shadow 0.5s ease;
}

.hero-input:hover {
    box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
}

.hero-input-list {
    display: flex;
    align-items: center;
    margin-right: 6.25rem;
}

.hero-input-item {
    margin-right: 6.25rem;
}

.hero-input-item:last-child {
    margin-right: 0;
}

.hero-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.62rem;
}

.hero-input-title {
    color: #222;
    font-weight: 500;
    line-height: normal;
    margin-right: 0.31rem;
}

.hero-input-img {
    width: 10px;
    height: 5px;
}

.hero-input-subtitle  {
    color: #666;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.hero-input-button {
    color: #fff;
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 32px;
    padding: 0.87rem 1.75rem;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: #fa7436;
    box-shadow: 0px 8px 16px 0px rgba(250, 116, 54, 0.16);
    display: inline-block;
}


/* SITE-THINKS */
.things {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-color: #f7f8fc;
}

.things-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.things-card-item {
    width: 31.6%;
    border-radius: 8px;
    background-color: #fff;
    padding: 2.5rem;
    margin-right: 1.87rem;
    transition: box-shadow 0.5s ease;
}

.things-card-item:hover {
    box-shadow: 14px 24px 72px 0px rgba(102, 102, 102, 0.10);
}

.things-card-item:last-child {
    margin-right: 0;
}

.things-card-item-title-capitalize {
    text-transform: capitalize;
}

.things-card-item img {
    margin: 0;
    margin-bottom: 3rem;
}

.things-btn-one {
    width: 48px;
    height: 48px;
}

.things-btn-two {
    width: 46.5px;
    height: 48px;
}

.things-btn-three {
    width: 41.5px;
    height: 48px;
}

.things-card-item-title {
    color: #222;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 34px;
    margin: 0;
    margin-bottom: 1rem;
}

.things-card-item-subtitle {
    margin: 0;
    color: #666;
    line-height: 26px;
}


/* SITE-EXCLUSIVE */
.exclusive {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-color: #fefcfb;
}

.exclusive-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.exclusive-card-item {
    margin-right: 1.75rem;
    border: 2px solid rgba(102, 102, 102, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding-bottom: 2.12rem;
    transition: box-shadow 0.5s ease;
}

.exclusive-card-item:hover {
    box-shadow: 0px 16px 80px 0px rgba(254, 147, 94, 0.20);
}

.exclusive-card-item:last-child {
    margin-right: 0;
}

.exclusive-card-item-img {
    width: 270px;
    height: 290px;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.exclusive-card-item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
}

.exclusive-card-item-svg-top {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin-right: 0.5rem;
}

.exclusive-card-item-title-top {
    color: #222;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    margin-right: 6.5rem;
}

.exclusive-card-item-number-top {
    color: #666;
    line-height: 24px;
    margin: 0;
}

.exclusive-card-item-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-card-item-svg-bottom {
    width: 13px;
    height: 16px;
    margin-right: 8px;
}

.exclusive-card-item-subtitle-bottom {
    color: #666;
    line-height: 20px;
    margin: 0;
    margin-right: 3.87rem;
}

.exclusive-card-item-del-number-bottom {
    color: #999;
    font-weight: 500;
    line-height: 24px;
    margin-right: 1.31rem;
}

.exclusive-card-item-number-bottom {
    color: #fa7436;
    font-weight: 600;
    line-height: 24px;
}

.exclusive-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-button {
    width: 104px;
    height: 40px;
}


/* SITE-VACATION */
.vacation {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-color: #fefcfb;
}

.vacation-subtitle {
    margin-bottom: 0;
}

.vacation-button {
    width: 104px;
    height: 40px;
    margin-bottom: 1.5rem;
}

.vacation-button-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

.vacation-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vacation-item {
    border-radius: 16px;
    margin-right: 1.93rem;
    padding-bottom: 1.5rem;
    background-color: #fff;
    border: 2px solid rgba(102, 102, 102, 0.08);
    transition: box-shadow 0.5s ease;
}

.vacation-item:hover {
    box-shadow: 0px 16px 80px 0px rgba(254, 147, 94, 0.20);
}

.vacation-item:last-child {
    margin-right: 0;
}

.vacation-item-img {
    width: 369px;
    height: 327px;
    margin-bottom: 1.5rem;
    border-radius: 16px;
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.0);
}

.vacation-item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.vacation-item-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vacation-item-title {
    color: #222;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    margin-right: 4.62rem;
}

.vacation-item-number {
    color: #fa7436;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 32px;
}

.vacation-navigation-icon {
    width: 18.7px;
    height: 16px;
    margin-right: 0.9rem;
}

.vacation-item-subtitle {
    color: #666;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    margin: 0;
    margin-right: 7.78rem;
}

.vacation-star-icon {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin-right: 0.5rem;
}

.vacation-item-bottom-number {
    color: #666;
    line-height: 24px;
    margin: 0;
}


/* SITE-PEOPLE */
.people {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-color: #f7f8fc;
}

.people-container {
    display: flex;
    justify-content: center;
}

.people-title {
    text-align: left;
}

.people-subtitle {
    margin: 0;
    margin-bottom: 2rem;
    text-align: left;
    color: #666;
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;
}

.people-button {
    width: 104px;
    height: 40px;
}

.people-left-content {
    width: 33.6%;
    margin-right: 9.81rem;
}

.people-right-content {
    width: 43%;
    padding: 1.75rem 0px 2.12rem 2.12rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.people-right-content-text {
    color: #444;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    margin-bottom: 2.5rem;
}

.people-right-content-title {
    color: #222;
    font-size: 1.12rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.62rem;
}

.people-right-content-subtitle {
    color: #666;
    font-size: 0.87rem;
    font-weight: 500;
    margin: 0;
}


/* SITE-BLOG */
.blog {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-color: #fefcfb;
}

.blog-title {
    margin-bottom: 4rem;
}

.blog-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.81rem;
}

.blog-item {
    width: 270px;
    margin-right: 1.87rem;
}

.blog-item:last-child {
    margin-right: 0;
}

.blog-item-img {
    width: 270px;
    height: 270px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.blog-item-title {
    color: #222;
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    margin-bottom: 1rem;
}

.blog-item-subtitle {
    color: #999;
    line-height: 26px;
    margin: 0;
}

.blog-button {
    width: 54px;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* SITE-FOOTER */
.footer {
    background-color: #f7f8fc;
    padding-bottom: 3rem;
}

.footer-top {
    width: 100%;
    border-radius: 16px;
    background-color: #fa7436;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.5rem;
}

.footer-top-text {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.footer-top-input {
    width: 674px;
    padding: 0.56rem 0.56rem 0.56rem 3.66rem;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-input-button {
    width: 18.7px;
    height: 16px;
    margin-right: 0.5rem;
}

.footer-input-text {
    color: #999;
    margin-right: 22.75rem;
}

.footer-input-link {
    color: #fff;
    padding: 0.81rem 1.62rem;
    border-radius: 8px;
    background-color: #fa7436;
    display: inline-block;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2.5rem;
}

.footer-bottom-lists {
    display: flex;
}

.footer-list:not(:last-child) {
    margin-right: 8.12rem;
}

.footer-bottom-left-content {
    margin: 0;
    color: #666;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 1.25rem;
}

.footer-social {
    width: 21.7%;
}

.footer-social-svg {
    width: 25px;
    height: 25px;
    color: #fa7436;
    transition: color 0.5s ease;
}

.footer-social-svg:hover {
    color: purple;
}

.foooter-social-link:not(:last-child) {
    margin-right: 0.62rem;
}

.footer-logo {
    margin-bottom: 1.5rem;
    text-align: left;
    display: block;
}

.footer-link {
    color: #666;
    font-size: 1.12rem;
    line-height: 26px;
    margin-bottom: 1rem;
    display: block;
    text-transform: capitalize;
}

.footer-link-heading {
    color: #222;
    font-size: 1.12rem;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.footer-list {
    width: 140px;
}

.footer-bottom-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-line {
    border: 0;
    margin: 0;
    height: 2px;
    margin-bottom: 2.5rem;
    background: rgba(153, 153, 153, 0.56);
}

.footer-bottom-text p {
    color: #666;
    opacity: 0.8;
    margin: 0;
}